<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentInfoManage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ImageServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.ImageServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>registerServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>gradeListServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.GradeListServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>gradeDeleteServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.GradeDeleteServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>gradeSaveServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.GradeSaveServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>gradeComboListServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.GradeComboListServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>studentListServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.StudentListServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>studentDeleteServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.StudentDeleteServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>studentSaveServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.StudentSaveServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>teacherListServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.TeacherListServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>teacherDeleteServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.TeacherDeleteServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>teacherSaveServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.TeacherSaveServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>scoreListServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.ScoreListServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>scoreSaveServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.ScoreSaveServlet</servlet-class>
  </servlet>
  
    <servlet>
  	<servlet-name>courseListServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.CourseListServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>courseDeleteServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.CourseDeleteServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>courseSaveServlet</servlet-name>
  	<servlet-class>com.cqnu5070.web.CourseSaveServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ImageServlet</servlet-name>
  	<url-pattern>/image</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>registerServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>gradeListServlet</servlet-name>
  	<url-pattern>/gradeList</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>gradeDeleteServlet</servlet-name>
  	<url-pattern>/gradeDelete</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>gradeSaveServlet</servlet-name>
  	<url-pattern>/gradeSave</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>gradeComboListServlet</servlet-name>
  	<url-pattern>/gradeComboList</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>studentListServlet</servlet-name>
  	<url-pattern>/studentList</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>studentDeleteServlet</servlet-name>
  	<url-pattern>/studentDelete</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>studentSaveServlet</servlet-name>
  	<url-pattern>/studentSave</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>teacherListServlet</servlet-name>
  	<url-pattern>/teacherList</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>teacherDeleteServlet</servlet-name>
  	<url-pattern>/teacherDelete</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>teacherSaveServlet</servlet-name>
  	<url-pattern>/teacherSave</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>scoreListServlet</servlet-name>
  	<url-pattern>/scoreList</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>scoreSaveServlet</servlet-name>
  	<url-pattern>/scoreSave</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>courseListServlet</servlet-name>
  	<url-pattern>/courseList</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>courseDeleteServlet</servlet-name>
  	<url-pattern>/courseDelete</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>courseSaveServlet</servlet-name>
  	<url-pattern>/courseSave</url-pattern>
  </servlet-mapping>
</web-app>